#navbar {
    
}

.navbar-left li {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.navbar-right li {
    display: inline-block;
    text-align: right;
    float: right;
    vertical-align: middle;
}