.navbar {
    padding: 15px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.navbar a {
    display: block;
    width: 60px;
    color: grey;
    text-decoration: none;
}

.navbar-left {
    float: left;
}

.navbar-left ul li {
    float: left;
    font-size: medium;
    text-align: center;
}

.navbar-right ul li {
    float: right;
    font-size: medium;
    text-align: center;
}

#grey-squares {
    width: 30%;
    height: auto;
    display: inline-block;
    position: relative;
    
}

.main {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

#google-logo #google-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#google-logo {
    max-width: 80%;
}

#text-input {
    width: 80%;
    position: absolute;
    top: 70%;
    left: 0%;
}

.footbar {
    background-color: rgb(240, 240, 240);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px; 
    border-style: solid;
    border-width: 1px;
    border-color: rgb(220, 220, 220);
}

.footbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footbar a {
    display: block;
    text-decoration: none;
    width: 30 px;
    color: rgb(100, 100, 100);
}

.footbar-left {
    float: left;
}

.footbar-left ul li {
    display: inline;
    padding: 5px 15px;
    float: left;
}

.footbar-right ul li {
    display: inline;
    padding: 5px 15px;
    float: right;
    
}

