.navbar {
    
    padding: 15px
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.navbar a {
    display: block;
    width: 60px;
    color: grey;
    text-decoration: none;
}

.navbar-left {
    float: left;
}

.navbar-left ul li {
    float: left;
}

.navbar-right ul li {
    float: right;
}

#grey-squares {
    max-height: 44%;
    max-width: 44%;
}